* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial bold, Helvetica, sans-serif;
    
    
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    
}

.text-left {
    text-align: left;
}

.text-black {
    color: black;
}

.clearfix {
    clear: both;
    float: none;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #3c03fb;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: #ff4757;
}

h2 {
    color: #18171c;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
    color: #f6f3f3;
}

h4 {
    background-color: white;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
    background-color: transparent;
    color: aliceblue;
}

fieldset {
    border: 1px solid rgb(14, 13, 13);
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


.img-zoom {
    transition: transform 0.5s ease;
}

.img-zoom:hover {
    transform: scale(1.2);
}





.logo {
    width: 10%;
    float: left;
}

.menu {
    line-height: 60px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}

.food-search {
    background-image: url("https://static.vecteezy.com/system/resources/previews/030/033/251/non_2x/burger-fry-souse-banner-free-space-text-mockup-fast-food-top-view-empty-professional-phonography-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0;
}


.food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.categories {
    padding: 4% 0;
}




.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}

.food-container {
    background-image: url("https://static.vecteezy.com/system/resources/previews/030/033/260/non_2x/burger-fry-souse-banner-free-space-text-mockup-fast-food-top-view-empty-professional-phonography-photo.jpg");

}



.food-menu {
    background-color: #1c1b1b;
    padding: 4% 0;
}

.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;

}

.food-menu-img {
    width: 20%;
    float: left;

}

.food-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
    background-color: white;

}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
    background-color: white;
}

.food-detail {
    font-size: 1rem;
    color: #000000;
    background-color: white;

}
p{
    color: #f6f3f3;
}



.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;
}


.order {
    width: 50%;
    margin: 0 auto;
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label {
    margin-bottom: 1%;
    font-weight: bold;
}